<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/front-layout}">
<head>
    <script th:src="@{/js/front/front.js}"></script>
    <script th:src="@{/js/front/socialLogin.js}"></script>
</head>
<div layout:fragment="content">
    <form id="loginForm" method="post" action="/user/login">
        <label>아이디
            <input type="text" id="userId" name="userId" th:autofocus="true">
        </label>
        <br>
        <label>비밀번호
            <input type="password" id="pw" name="pw">
        </label>
        <br>
        <button type="button" id="loginBtn">로그인</button>
    </form>
    <button type="button" id="joinBtn">가입</button>
    <button type="button" id="googleLoginBtn">구글 로긴</button>
</div>

</html>
