<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/front-layout}">
<head>
    <script th:src="@{/js/front/front.js}"></script>
</head>
<div layout:fragment="content">
    로긴 성콩
    <br>
    유저 아이디
    <br>
    <input type="text" th:value="${user == null ? '' : user.getUserId()}">
    <br>
    유저 비밀번호
    <br>
    <input type="text" th:value="${user == null ? '' :user.getPassword()}">
    <br>
    <button type="button" id="logoutBtn">로그아웃</button>
    <!--<button type="button" id="refresh">리프레시</button>
    <button type="button" id="reissue">재발행</button>-->
</div>
</html>